# Environment example

# PostgreSQL or other supported DB
DATABASE_URL="postgresql://user:password@localhost:5432/prenotazioni?schema=public"

# NextAuth Email provider SMTP connection
SMTP_URL="smtp://user:pass@smtp.example.com:587"
SMTP_FROM="noreply@tuodominio.it"

# NEXTAUTH secret
NEXTAUTH_SECRET="change-me"
